# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

*.o
*.a
*~
\#*\#
.\#*
*.log
*.log.*
*.pyc
*.rdb
*.csv
*.bak
app.bak.*
app.ok.*
.DS_Store
.vscode
nohup.out
*.linux

tmp/*
download/*
vendor/*
xlab/*
**/_old/*

**/config/*.dev
**/config/*.json
**/config/cert/*
**/app/app
**/mock/mock
**/public/upload
**/public/export
**/public/resource
**/public/task
!**/web/public/resource
**/data/upload
**/data/export
**/web/log
**/biz/ucase/test/*

node_modules
dist
.npmrc
.cache

*/tests/server/static
*/tests/server/static/upload

.local
# local env files
.env.local
.env.*.local
.eslintcache

.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test.go

*.ini

.env.development

Session.vim
*.swp
*.vue_eslint_tmp_*
*.run.xml
.qoder
.codex
.trae
doc
